{% extends "starter.html" %}

{% block content %}


<section class="content-header">
	<h1>
		Create VM
		<small></small>
	</h1>
</section>

<!-- Main content -->
<section class="content">
	<br>
	<form action="/tiramisu/createvm/" method="POST" id="form">
		{% csrf_token %}

		<div class="box box-success">
			<div class="box-header">
				<h3 class="box-title">VM name</h3>
			</div>
			<div class="box-body">
				<div class="row margin">
					<div class="col-md-8" id="text_input_name">
						<input type="text" name="name" id="vm_name" class="form-control" placeholder="VM name">
					</div>
					<div class="col-md-4">
						<button type="button" class="btn btn-default" id="btn_check"><i class="fa fa-check"></i>check</button>
					</div>
				</div>
			</div>

			<div class="box-footer clearfix"></div>

			<div class="box-header">
				<h3 class="box-title">Latency</h3>
			</div>
			<div class="box-body">
				<div class="row margin">
					<div class="col-sm-2">
						<div class="input-group">
							<input type="number" id="latency" name="latency" class="form-control" value="0">
							<span class="input-group-addon">secs</span>
						</div>
					</div>
					<div class="col-sm-6" onclick="latency()" id="latency_div">

						<input type="text" value="" class="slider form-control" data-slider-min="0" data-slider-max="120" data-slider-step="0.5" data-slider-value="[0,120]" data-slider-orientation="horizontal" data-slider-selection="before" data-slider-tooltip="show" data-slider-id="red">

					</div>
					<div class="col-sm-2">
						<div class="input-group">
							<input type="number" id="latency_max" name="latency_max" class="form-control" value="120">
							<span class="input-group-addon">secs</span>
						</div>						
					</div>

					<div class="col-sm-2" title="Your acceptable error percentage">
						<div class="input-group">
							<input type="number" id="percentl" name="percentl" class="form-control" placeholder="Error" value="10">
							<span class="input-group-addon">%</span>
						</div>
					</div>
				</div>
			</div>

			<div class="box-footer clearfix"></div>

			<div class="box-header">
				<h3 class="box-title">IOPS</h3>
			</div>
			<div class="box-body">
				<div class="row margin">
					<div class="col-sm-2">
						<input type="number" id="iops_min" name="iops_min" class="form-control" value="0">
					</div>
					<div class="col-sm-6" onclick="iops()" id="iops_div">

						<input type="text" value="" class="slider form-control" data-slider-min="0" data-slider-max="100000" data-slider-step="5" data-slider-value="[0,100000]" data-slider-orientation="horizontal" data-slider-selection="before" data-slider-tooltip="show" data-slider-id="red">

					</div>
					<div class="col-sm-2">
						<input type="number" id="iops" name="iops" class="form-control" value="100000">
					</div>

					<div class="col-sm-2" title="Your acceptable error percentage">
						<div class="input-group">
							<input type="number" name="percenti" class="form-control" placeholder="Error" value="10">
							<span class="input-group-addon">%</span>
						</div>
					</div>
				</div>
			</div>

			<div class="box-footer clearfix"></div>

			<div class="box-header">
				<h3 class="box-title">Cost</h3>
			</div>
			<div class="box-body">
				<div class="row margin">
					<div class="col-sm-2">
						<div class="input-group">
							<input type="number" id="cost" name="cost" class="form-control" value="0">
							<span class="input-group-addon">THB</span>
						</div>
					</div>
					<div class="col-sm-6" onclick="cost()" id="cost_div">

						<input type="text" value="" class="slider form-control" data-slider-min="0" data-slider-max="2000" data-slider-step="5" data-slider-value="[0,2000]" data-slider-orientation="horizontal" data-slider-selection="before" data-slider-tooltip="show" data-slider-id="red">

					</div>
					<div class="col-sm-2">
						<div class="input-group">
							<input type="number" id="cost_max" name="cost_max" class="form-control" value="2000">
							<span class="input-group-addon">THB</span>
						</div>						
					</div>

					<div class="col-sm-2" title="Your acceptable error percentage">
						<div class="input-group">
						<input type="number" name="percentc" class="form-control" placeholder="Error" value="10">
							<span class="input-group-addon">%</span>
						</div>
					</div>
				</div>
			</div>

		</div>

		<div class="box box-solid box-default">
			<div class="box-header"><h4>Application type</h4></div>
			<div class="box-body">
				<div class="radio">
					<label>
						<input type="radio" name="type" id="web" value="1" checked>
						Website
					</label>
				</div>
				<div class="radio">
					<label>
						<input type="radio" name="type" id="db" value="2">
						Database (Write a lot of data)
					</label>
				</div>
				<div class="radio">
					<label>
						<input type="radio" name="type" id="bj" value="3">
						Batch job
					</label>
				</div>

			</div>
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
	
</section>

<!-- jQuery 2.1.4 -->
<script src="{{ STATIC_URL }}plugins/jQuery/jQuery-2.1.4.min.js"></script>
<!-- Bootstrap 3.3.5 -->
<script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
<!-- AdminLTE App -->
<script src="{{ STATIC_URL }}dist/js/app.min.js"></script>
<!-- Bootstrap slider -->
<script src="{{ STATIC_URL }}plugins/bootstrap-slider/bootstrap-slider.js"></script>

<script type="text/javascript">
$(document).ready(function () {

  	$("#btn_check").click(function(){
  		vm_name = $("#vm_name").val();
  		if (vm_name.length != 0){
  			if(vm_name.includes(" ")){
	  			alert("This name contain ' '.");
	  			$("#btn_check").addClass("btn-danger");
	  			$("#text_input_name").addClass("has-error");
  			}
  			else{	
	  			$.post( "/tiramisu/checkavl/", { vm_name: vm_name  }).done(function( data ) {
	  				$("#btn_check").removeClass("btn-default btn-danger btn-success");
	  				$("#text_input_name").removeClass("has-error has-success");
	  				if (data.result == "pos"){ 
	  					$("#btn_check").addClass("btn-success");
	  					$("#text_input_name").addClass("has-success");
	  				}
	  				else { 
	  					alert("This name is already in use.")
	  					$("#btn_check").addClass("btn-danger");
	  					$("#text_input_name").addClass("has-error");
	  				}
	  			});
  			}
  		}
  		else{
  			alert("Plese enter your VM name!");
  			$("#btn_check").addClass("btn-danger");
	  		$("#text_input_name").addClass("has-error");
  		}
  	});
});

	$('.slider').slider();


	function latency(){
		min = $("#latency_div .tooltip-min").text(); 
		max = $("#latency_div .tooltip-max").text();
		$("#latency").val(min) ; 
		$("#latency_max").val(max);
	}

	function iops(){
		min = $("#iops_div .tooltip-min").text(); 
		max = $("#iops_div .tooltip-max").text();
		$("#iops_min").val(min) ; 
		$("#iops").val(max);
	}

	function cost(){
		min = $("#cost_div .tooltip-min").text(); 
		max = $("#cost_div .tooltip-max").text();
		$("#cost").val(min) ; 
		$("#cost_max").val(max);
	}
</script>

{% endblock %}