{% extends "starter.html" %}

{% block content %}
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
  <!-- header -->
</h1>
</section>

<!-- Main content -->
<section class="content">

<div class="error-page row">
    <div class="error-content">
        <h1><i class="fa fa-warning text-red"></i> Oops! Sorry.</h1>

        <p>
            <h4>Disk FULL.</h4>
            <a href="../index">return to dashboard</a>
        </p>
    </div>
</div>
<!-- /.error-page -->

</section>
<!-- /.content -->

{% endblock %}