{% extends "starter.html" %}

{% block content %}


<section class="content-header">
	<h1>
		Manage {{current_name}}
		<small>VM id: {{id_vm}}</small>
	</h1>
	
</section>

<!-- Main content -->
<section class="content">
	<br>
	<form action="/tiramisu/requirements/" method="POST">
	{% csrf_token %}
		<input type="hidden" name="name" value={{id_vm}}>
		
		<div class="box box-solid box-default">
		<div class="box-header"><h4>Application type</h4></div>
			<div class="box-body">
				<div class="radio">
					<label>
						{% if web %}
							<input type="radio" name="type" id="web" value="1" checked>
						{% else %}
							<input type="radio" name="type" id="web" value="1">
						{% endif %}
						Website
					</label>
				</div>
				<div class="radio">
					<label>
						{% if db %}
							<input type="radio" name="type" id="db" value="2" checked>
						{% else %}
							<input type="radio" name="type" id="db" value="2">
						{% endif %}
						Database (Write a lot of data)
					</label>
				</div>
				<div class="radio">
					<label>
						{% if bj %}
							<input type="radio" name="type" id="bj" value="3" checked>
						{% else %}
							<input type="radio" name="type" id="bj" value="3">
						{% endif %}
						Batch job
					</label>
				</div>

			</div>
		</div>
		
		<div class="box box-success">
			<div class="box-header">
				<h3 class="box-title">Latency</h3>
			</div>
			<div class="box-body">
				<div class="row margin">
					<div class="col-sm-2">
						<div class="input-group">
    						<input type="text" id="latency" name="latency" class="form-control" value="{{req.latency}}">
    						<span class="input-group-addon">ms</span>
						</div>
					</div>
					<div class="col-sm-6" onclick="latency()" id="latency_div">

						<input type="text" value="" class="slider form-control" data-slider-min="0" data-slider-max="120" data-slider-step="0.5" data-slider-value="[{{req.latency}},{{req.latency_max}}]" data-slider-orientation="horizontal" data-slider-selection="before" data-slider-tooltip="show" data-slider-id="red">

					</div>
					<div class="col-sm-2">
						<div class="input-group">
    						<input type="text" id="latency_max" name="latency_max" class="form-control" value="{{req.latency_max}}">
    						<span class="input-group-addon">ms</span>
						</div>						
					</div>

					<div class="col-sm-2" title="Your acceptable error percentage">
						<div class="input-group">
    						<input type="number" id="percentl" name="percentl" class="form-control" placeholder="Error" value="{{req.percentl}}">
    						<span class="input-group-addon">%</span>
						</div>
					</div>
				</div>
			</div>

			<div class="box-footer clearfix"></div>

			<div class="box-header">
				<h3 class="box-title">Throughput</h3>
			</div>
			<div class="box-body">
				<div class="row margin">
					<div class="col-sm-2">
						<div class="input-group">
							<input type="text" id="iops_min" name="iops_min" class="form-control" value="{{req.iops_min}}">
							<span class="input-group-addon">IOPS</span>
						</div>
					</div>
					<div class="col-sm-6" onclick="iops()" id="iops_div">

						<input type="text" value="" class="slider form-control" data-slider-min="0" data-slider-max="100000" data-slider-step="5" data-slider-value="[{{req.iops_min}},{{req.iops}}]" data-slider-orientation="horizontal" data-slider-selection="before" data-slider-tooltip="show" data-slider-id="red">

					</div>
					<div class="col-sm-2">
						<div class="input-group">
							<input type="text" id="iops" name="iops" class="form-control" value="{{req.iops}}">
							<span class="input-group-addon">IOPS</span>
						</div>
					</div>

					<div class="col-sm-2" title="Your acceptable error percentage">
						<div class="input-group">
    						<input type="number" name="percenti" class="form-control" placeholder="Error" value="{{req.percenti}}">
    						<span class="input-group-addon">%</span>
						</div>
					</div>
				</div>
			</div>

			<div class="box-footer clearfix"></div>

			<div class="box-header">
				<h3 class="box-title">Cost</h3>
			</div>
			<div class="box-body">
				<div class="row margin">
					<div class="col-sm-2">
						<div class="input-group">
    						<input type="text" id="cost" name="cost" class="form-control" value="{{req.cost}}">
    						<span class="input-group-addon">THB</span>
						</div>
					</div>
					<div class="col-sm-6" onclick="cost()" id="cost_div">

						<input type="text" value="" class="slider form-control" data-slider-min="0" data-slider-max="2000" data-slider-step="5" data-slider-value="[{{req.cost}},{{req.cost_max}}]" data-slider-orientation="horizontal" data-slider-selection="before" data-slider-tooltip="show" data-slider-id="red">

					</div>
					<div class="col-sm-2">
						<div class="input-group">
    						<input type="text" id="cost_max" name="cost_max" class="form-control" value="{{req.cost_max}}">
    						<span class="input-group-addon">THB</span>
						</div>						
					</div>

					<div class="col-sm-2" title="Your acceptable error percentage">
						<div class="input-group">
    						<input type="number" name="percentc" class="form-control" placeholder="Error" value="{{req.percentc}}">
    						<span class="input-group-addon">%</span>
						</div>
					</div>
				</div>
			</div>

		</div>

		
		<div class="row">
			<div class="col-md-10"></div>
			<button type="submit" class="btn btn-primary">Apply</button>
	</form>
	<a href=""><button type="button" class="btn btn-danger">Reset</button></a>
	</div>
	
	<p hidden id="hdd_latency">{{ delegate_state.hdd_latency }}</p>
	<p hidden id="hdd_iops">{{ delegate_state.hdd_iops }}</p>
	<p hidden id="ssd_latency">{{ delegate_state.ssd_latency }}</p>
	<p hidden id="ssd_iops">{{ delegate_state.ssd_iops }}</p>

</section>

<!-- jQuery 2.1.4 -->
<script src="{{ STATIC_URL }}plugins/jQuery/jQuery-2.1.4.min.js"></script>
<!-- Bootstrap 3.3.5 -->
<script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
<!-- AdminLTE App -->
<script src="{{ STATIC_URL }}dist/js/app.min.js"></script>
<!-- Bootstrap slider -->
<script src="{{ STATIC_URL }}plugins/bootstrap-slider/bootstrap-slider.js"></script>

<script type="text/javascript">

	$('.slider').slider();


	function latency(){
		min = $("#latency_div .tooltip-min").text(); 
		max = $("#latency_div .tooltip-max").text();
		$("#latency").val(min) ; 
		$("#latency_max").val(max);
	}

	function iops(){
		min = $("#iops_div .tooltip-min").text(); 
		max = $("#iops_div .tooltip-max").text();
		$("#iops_min").val(min) ; 
		$("#iops").val(max);
	}

	function cost(){
		min = $("#cost_div .tooltip-min").text(); 
		max = $("#cost_div .tooltip-max").text();
		$("#cost").val(min) ; 
		$("#cost_max").val(max);
	}

	//auto fill by type
  	$('form input[type=radio]').change(function() {
  		app_type = $("form input[type='radio']:checked").val()
  		$("#latency").val(0);
  		$("#iops_min").val(0);
  		$("#cost").val(0);
	  	if (app_type == 1) {
	  		if ( parseInt($("#hdd_latency").text()) > parseInt($("#ssd_latency").text()) ) {
				$("#latency_max").val($("#ssd_latency").text());
				$("#iops").val($("#ssd_iops").text());
				$("#cost_max").val(774);
	  		}
	  		else {
	  			$("#latency_max").val($("#hdd_latency").text());
				$("#iops").val($("#hdd_iops").text());
				$("#cost_max").val(430);
	  		}
	  	}
	  	else if (app_type == 2) {
	  		if ( parseInt($("#ssd_iops").text()) > parseInt($("#hdd_iops").text()) ) {
				$("#latency_max").val($("#ssd_latency").text());
				$("#iops").val($("#ssd_iops").text());
				$("#cost_max").val(774);
	  		}
	  		else {
	  			$("#latency_max").val($("#hdd_latency").text());
				$("#iops").val($("#hdd_iops").text());
				$("#cost_max").val(430);
	  		}
	  	}
	  	else {
	  		$("#latency_max").val($("#hdd_latency").text());
			$("#iops").val($("#hdd_iops").text());
			$("#cost_max").val(430);
	  	}
	  });

</script>

{% endblock %}